<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjc.dao.CommentMapper">

    <update id="updateComment">
        UPDATE t_comment
        <set>
            <if test="content != null">
                content = #{content},
            </if>
        </set>
        where id = #{id} and article_id = #{articleId}
    </update>
</mapper>