<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjc.dao.CommentMapper">

    <update id="updateComment">
        UPDATE t_comment
        <set>
            <if test="content != null">
                content = #{content},
            </if>
        </set>
        where id = #{id} and article_id = #{articleId}
    </update>
    <select id="getAllComments" resultType="com.wjc.model.domain.Comment">
        SELECT * FROM t_comment
        <where>
            <if test="aid != null and aid > 0">
                article_id = #{aid}
            </if>
            <if test="startTime != null and startTime != ''">
                AND created &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND created &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>